/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Recursive&family=Roboto&display=swap');

/* General */
body{
  background-color: #fff;
}
.homePage, main{
  margin: 0;
  padding: 0;
}
@media (min-width: 1200px) { 
  .homePage{
    width: 80vw;
  }
 }
/*--- Hero Banner---- */
header{
  background-image: url(http://www.gwenorain.com/autoPhoto/images/HeroBanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  height: 40vh;
}
/* Nav*/
.navbar-toggler, .navbar-collapse{
  background-color: hsl(265, 100%, 20%);
}
.navbar-collapse{
  display: flex;
  justify-content: center;
  position: fixed;
  top : 4em;
  right: 1em;
  width: 70%;
}
.nav-item{
  margin-right: 2rem;
  padding: 1rem;
}
.nav-link{
  font-family: 'Recursive', sans-serif; 
}
@media screen and (min-width: 768px){
  .navbar-collapse{
    justify-content: flex-end;
    background-color: transparent;
    position: static;
    top: 0em;
  }
  .nav-item:hover{
    background-color: hsla(265, 100%, 20%,0.8);
    border-radius: 1rem;
  }
}
/*Jumbotron*/
.jumbotron {
  text-align: center;
  background-color:hsla(265, 100%, 20%,0.8);
  border-radius: 1em;
  width: 80%;
}
@media screen and (min-width: 768px){
  .jumbotron{
    width: 60%;
  }
}
.jumbotron h1{
  font-family: 'Recursive', sans-serif;
}
.jumbotron p{
  font-family: 'Roboto', sans-serif;
}
/*-- Introduction --*/
.intro{
  background-color: #472b00;
}
.intro h2{
  font-family: 'Recursive', sans-serif;
}
.intro p{
  font-family:  'Roboto', sans-serif;
}

/*-- Members --*/
.members{
  background-color:#1e0047 ;
}